<a href="https://colab.research.google.com/github/turgonboyev/Google_Colab_uchun/blob/main/Pandas_bilan_ishlash(DataFrame).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
hayot = {
    "Botir":{2007:'Maktab', 2016:'Litsey(TM)', 2019:'Unst(TATU)'},
    "Umid":{2007:'Maktab', 2016:'Kollej', 2020:'Unst'},
    "Nurbek":{2009:'Maktab', 2020:'Unst(TATU)'},
    "Baxrom":{2007:'Maktab', 2016:'Kollej', 2020:'Unst'},
}
df = pd.DataFrame(hayot)
df

           Botir    Umid      Nurbek  Baxrom
2007      Maktab  Maktab         NaN  Maktab
2016  Litsey(TM)  Kollej         NaN  Kollej
2019  Unst(TATU)     NaN         NaN     NaN
2020         NaN    Unst  Unst(TATU)    Unst
2009         NaN     NaN      Maktab     NaN

In [3]:
df.T

          2007        2016        2019        2020    2009
Botir   Maktab  Litsey(TM)  Unst(TATU)         NaN     NaN
Umid    Maktab      Kollej         NaN        Unst     NaN
Nurbek     NaN         NaN         NaN  Unst(TATU)  Maktab
Baxrom  Maktab      Kollej         NaN        Unst     NaN

In [12]:
df['Nurbek'][2007] = 'bogcha'
df['Nurbek'][2016] = 'maktab'
df['Nurbek'][2019] = 'maktab'
df['Umid'][2019] = 'Abiturent'
df['Baxrom'][2019] = 'Abiturent'
df.T

          2007        2016        2019        2020    2009
Botir   Maktab  Litsey(TM)  Unst(TATU)         NaN     NaN
Umid    Maktab      Kollej   Abiturent        Unst     NaN
Nurbek  bogcha      maktab      maktab  Unst(TATU)  Maktab
Baxrom  Maktab      Kollej   Abiturent        Unst     NaN

In [13]:
arr = df.values

In [14]:
arr

array([['Maktab', 'Maktab', 'bogcha', 'Maktab'],
       ['Litsey(TM)', 'Kollej', 'maktab', 'Kollej'],
       ['Unst(TATU)', 'Abiturent', 'maktab', 'Abiturent'],
       [nan, 'Unst', 'Unst(TATU)', 'Unst'],
       [nan, nan, 'Maktab', nan]], dtype=object)

In [15]:
df.shape

(5, 4)

In [16]:
df.T
df.shape

(5, 4)

In [18]:
df

           Botir       Umid      Nurbek     Baxrom
2007      Maktab     Maktab      bogcha     Maktab
2016  Litsey(TM)     Kollej      maktab     Kollej
2019  Unst(TATU)  Abiturent      maktab  Abiturent
2020         NaN       Unst  Unst(TATU)       Unst
2009         NaN        NaN      Maktab        NaN